*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    background-color: black ;
}

header{
    background-color: white;
    color: black;
}

li{
    list-style: none;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 3px solid black;
  }
  
.navbar a.active {
    border-bottom: 3px solid black;
  }

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black; 
    padding: 0;
}  

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.nav-brand{
    font-size: 2rem;
    font-weight: bolder;
}

.hamburger{
    display:none; 
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    background-color: black;
 }


 .flex-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100%;
  }

  img{
    width: 100%;
    height: auto;
  }

#content{
    margin-top: 50px;
    width: 100%;
    word-wrap: break-word;
    margin-left: 40PX;;
    color: white;
}

.btn{
    margin-top: 50px;
    margin-left: 120px;
    width: 200px;
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}  

input[type=text]{
    width: 30vw;
    height: 60px;
    background-color: black;
    color: white;
    text-decoration: underline;
    border: none;
    border-bottom: 2px dashed gainsboro;
}

input[type=password]{
    width: 30vw;
    height: 60px;
    background-color: black;
    color: white;
    text-decoration: underline;
    border: none;
    border-bottom: 2px dashed gainsboro;
}

label{
    color: gainsboro;
}

#forgot-text{
margin-left: 50%;

}

#create-text{
    color : gainsboro;
    margin-top: 50px;
    margin-left: 170px;
}


 @media(max-width:768px){
    .hamburger{
        display:block;
}


.nav-menu{
    position:fixed;
    Left:-100%;
    top:70px;
    gap: 8px;
    flex-direction:column;
    background-color: white;
    color: black;
    width:100%;
    text-align:center;
    border-bottom: 3px solid black;
}

.nav-menu.active{
    Left:0;
}
.social{
    display: none;
}


label{
    color: gainsboro;
}

#forgot-text{
margin-left: 10px;

}

#create-text{
    color : gainsboro;
    margin-left: 10px;
}

.btn{
margin-top: 50px;
    margin-left: 10px;
    width: 200px;
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
} 

}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
 
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
    #content{
        width: 80%;
        margin: auto;
}
}
/*Smartphone*/
@media only screen and (max-width: 600px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }   
    #content{
        width: 100%;
        margin-left: 7px;
    }
    img{
        display: none;
    }
}
